.text-center{

    color: rgb(0, 166, 216);
}

.tamano-icon{
    font-size: 15px
}
.toolbar-container {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
    text-align: center;
    color: #f27044;
}