<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-container"> 
    <ion-title>
      <ion-icon name="fish-outline"></ion-icon>
      Pecera
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngFor ="let data of aPeces">
    <ion-card>
      <ion-item>
 
        <ion-icon class="tamano-icon" slot="end"  name="fish-outline"></ion-icon>
        <ion-label class="text-center">{{data.pk_nombre}}</ion-label>
      
    
      </ion-item>
    
      <ion-card-content>
        <p><span class="text-center">Nombre:</span>  {{data.pk_nombre}}</p>
        <p><span class="text-center">Comportamiento:</span> {{data.pk_nombre}}</p>
        <p><span class="text-center">Tamaño:</span> {{data.fk_tipotamano}}</p>
        <p><span class="text-center">¿Oxigeno?:</span> {{data.oxigeno}}</p>
        <p><span class="text-center">¿Calefaccioón?:</span> {{data.calefaccion}}</p>
      </ion-card-content>
    </ion-card>

    
  </ng-container>
  <!-- fab placed to the (vertical) center and end -->

<!--   <app-explore-container>
    
  </app-explore-container> -->
</ion-content>
